# Make fake DataFrame for statistical tests

#### Import necessary dependencies

In [17]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import names
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.DataFrame()

n = 1000

# generate a random list of majors
major_choice = ['Science', 'Technology', 'Medicine', 'Social Studies',
          'History', 'English', 'Foreign Language', 'Business',
          'Engineering', 'Art']
df['major'] = np.random.choice(major_choice, n)

# generate a random set of genders
gender_choice = ['M', 'F', 'NB']
gender_weight = [0.49, 0.49, 0.02]

genders = np.random.choice(gender_choice, n, p=gender_weight)
df['gender'] = genders

In [14]:
# generate a random name based on the gender
def gen_name(gender):
    if gender == 'M':
        return names.get_full_name(gender='male')
    elif gender == 'F':
        return names.get_full_name(gender='female')
    return names.get_full_name()

df['name'] = [gen_name(gender) for gender in genders]

df = df[['name', 'gender', 'major']]

In [29]:
def limit_max_min_grade(quiz_grades):
    quiz_grades = [
        100 if grade > 100 else grade
        for grade in quiz_grades]
    quiz_grades = [
        0 if grade < 0 else grade
        for grade in quiz_grades]
    return quiz_grades

# generate quiz grades before holiday
quiz_grades_before = limit_max_min_grade(
    np.random.normal(50, 15, n))

# generate quiz retake grades after holiday
quiz_grades_after = limit_max_min_grade(
    np.random.normal(70, 25, n))

df['quiz grade before'] = quiz_grades_before
df['quiz grade after'] = quiz_grades_after

In [31]:
# generates if they visit the tutor frequently
visits_tutor = ['Y', 'N']
tutor_weight = [0.15, 0.85]
df['visits tutor'] = np.random.choice(visits_tutor, n, p=tutor_weight)

In [33]:
df.head()

,name,gender,major,quiz grade before,quiz grade after,visits tutor
0,Jeffrey Ryan,M,Science,22.876882,76.988678,N
1,Clara Martinez,F,Science,51.736467,66.506256,N
2,Sheryl Wiley,F,Social Studies,40.633207,56.385129,N
3,William Hurdle,M,Art,14.534153,68.586033,N
4,Maria Ruiz,F,Medicine,76.286583,65.419909,Y

In [34]:
df.to_csv(f'student_grades_df.csv', index=False)